@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staycation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/grid.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div style="display:flex;justify-content: space-between;">
        <header>
            <nav >
            <div class="row">
                    <div>
                        <h2 class="logo"><a href="" class="staycation">Staycation</a></h2>
                    </div>

                    <div >
                        <ul class="main-nav">
                            <li><a href="" class="home">Home</a></li>
                            <li><a href="">Browse by</a></li>
                            <li><a href="">Stories</a></li>
                            <li><a href="">Agents</a></li>
                        </ul>
                    </div>

                </div>
            </nav>




            <div class="row">
                <div class="col span-1-of-2">
                    <h1>Forget Busy Work,<br> Start Next Vacation</h1>
                    <p style="color: lightgray;" class="paragraph-header">  
                        We provide what you need to enjoy your<br>
                        holiday with family. Time to make another<br>
                        memorable moments.
                    </p>
                    <a href="" class="btn">Show me now</a>
                </div>

               

                <div class="col span-1-of-2">
                    <img src="~/images/first (1).jpg" class="first-image" alt="">
                </div>


            </div>


            <!-- <div class="row">
                <div class="icon">
                    <img src="first (4).png" alt="">

                    <img src="first (5).png" alt="">

                    <img src="first (3).png" alt="">
                    <h3>862 treasure</h3>
                    <h3>80,409 travellers</h3>
                    <h3>1,492 Cities</h3>
                </div>
            </div> -->

           
        </header>

    </div>

    <section class="section-pictures">
        <div class="row">
            <h2 class="header-house">Most Picked</h2>
        </div>

        <div class="row">

            <div class="container">
                <div>
                    <img src="~/Images/design_1.jpg" href="" alt="" />
                </div>

                <div class="space">
                    <img style="margin-left: 20px; margin-top: 20px margin-bottom: 20px;" src="~/Images/design_2.jpg" href="" alt="" />
                    <img style="margin-left: 20px;  margin-top: 20px;margin-bottom: 20px;" src="~/Images/design_3.jpg" href="" alt="" />
                    
                </div>
                <div class="space">
                    <img style="margin-left: 20px;" src="~/Images/design_4.jpg" href="" alt="" />
                    <img style="margin-left: 20px;" src="~/Images/design_5.jpg" href="" alt="" />
                </div>
            </div>
        </div>

    </section>



    <section class="second-pictures">
        <div class="row">
            <h2 class="header-beau">Houses with beauty backyard</h2>
        </div>

        <div class="row">
            <div class="col span-1-of-4">
                <img src="~/Images/design_6.jpg" href="" alt="" />
                <h3><a href="" class="hotels">Tabby Town</a></h3>
                <span style="color:lightgray">Gunung Batu, Indonesia</span>
            </div>
            <div class="col span-1-of-4">
                <img src="~/Images/design_7.jpg" href="" alt="" />
                <h3><a href="" class="hotels">Anganna</a></h3>
                <span style="color:lightgray">Bogor, Indonesia</span>
            </div>
            <div class="col span-1-of-4">
                <img src="~/Images/design_8.jpg" href="" alt="" />
                <h3><a href="" class="hotels">Seattle Rain</a></h3>
                <span style="color:lightgray">Jakarta, Indonesia</span>

            </div>
            <div class="col span-1-of-4">
                <img src="~/Images/design_9.jpg" href="" alt="" />
                <h3><a href="" class="hotels">Wodden Pit</a></h3>
                <span style="color:lightgray">Wonosobo, Indonesia</span>
            </div>
        </div>

    </section>

    <section class="third-picture">
        <div class="row">
            <h2 class="header-beau">Hotels with Large Living Room</h2>
        </div>

        <div class="row">
            <div class="col span-1-of-4">
                <img src="~/Images/design_10.jpg" href="" alt="" />
                <h3><a href="" class="hotels">Green Park</a></h3>
                <span>Tangerang, Indonesia</span>
            </div>
            <div class="col span-1-of-4">
                <img src="~/Images/design_11.jpg" href="" alt="" />
                <h3><a href="" class="hotels">Podo Wae</a></h3>
                <span>Madiun, Indonesia</span>
            </div>
            <div class="col span-1-of-4">
                <img src="~/Images/design_12.jpg" href="" alt="" />
                <h3><a href="" class="hotels">Silver Rain</a></h3>
                <span>Badung, Indonesia</span>

            </div>
            <div class="col span-1-of-4">
                <img src="~/Images/design_13.jpg" href="" alt="" />
                <h3><a href="" class="hotels">Cashville</a></h3>
                <span>Kamang, Indonesia</span>
            </div>
        </div>

    </section>



    <section class="last-picture">
        <div class="row">
            <h2 class="header-beau">Apartments with kitchen sets</h2>
        </div>

        <div class="row">
            <div class="col span-1-of-4">
                <img src="~/Images/design_14.jpg" href="" alt="" />
                <h3><a href="" class="hotels">PS Wood</a></h3>
                <span>Depok, Indonesia</span>
            </div>
            <div class="col span-1-of-4">
                <img src="~/Images/design_15.jpg" href="" alt="" />
                <h3><a href="" class="hotels">One five</a></h3>
                <span>Jakarta, Indonesia</span>
            </div>
            <div class="col span-1-of-4">
                <img src="~/Images/design_16.jpg" href="" alt="" />
                <h3><a href="" class="hotels">Minimal</a></h3>
                <span>Bogor, Indonesia</span>
            </div>
            <div class="col span-1-of-4">
                <img src="~/Images/design_17.jpg" href="" alt="" />
                <h3><a href="" class="hotels">Stays Home</a></h3>
                <span>Wonosobo, Indonesia</span>
            </div>
        </div>

    </section>


    <section class="section-family">
        <div class="row">
            <div class="col span-1-of-2">
                <img src="~/Images/design_18.jpg" class="img-family" href="" alt="" />
            </div>

            <div class="col span-1-of-2">
                <h2 class="header-family">Happy Family</h2>
                <div class="image-star">
                   
                    <img src="~/images/star 1 (1).jpg" alt="" />
                    <img src="~/images/star 1 (1).jpg" alt="" />
                    <img src="~/images/star 1 (1).jpg" alt="" />
                    <img src="~/images/star 1 (1).jpg" alt="" />
                    <img src="~/images/star 1 (1).jpg" alt="" />
                    <p style="color: blue;" class="paragraph-long">What a great trip with my family and<br> I should try again next time soon...
                        <br> <span style="color:gray; font-display:auto; font-size:12px;">Angga, Product Designer</span><br>
                    </p>

                    <a href="" class="btn">Read their story</a>
                </div>


               


            </div>
        </div>
    </section>

    <hr>

    <section class="section-footer">
        <div class="row">
            <div class="col span-1-of-4">
                <h2 class="headercation">Staycation</h2>
                <p style="color:gray;">We kaboom your beauty holiday<br>instantly and memorable</p>
            </div>
            <div class="col span-1-of-4">
                <h3>For Beginners</h3>

                <p style="color:gray;">New Account</p>
                <p style="color:gray;">Start Booking a room</p>
                <p style="color:gray;">Use payments</p>

            </div>

            <div class="col span-1-of-4">
                <h3>Explore Us</h3>

                <p style="color:gray;">Our Careers</p>
                <p style="color:gray;">Privacy</p>
                <p style="color:gray;">Terms and Conditions</p>

            </div>

            <div class="col span-1-of-4">
                <h3>Connect Us</h3>
                <p style="color:gray;">support@staycation.id</p>
                <p style="color:gray;">021-228-1996</p>
                <p style="color:gray;">Staycation, Jemang, Jakarta</p>

            </div>
        </div>

    </section>

    <footer>
        <p class="copyright">Copyright 2019. All right reserved. Staycation</p>
    </footer>
</body>
</html>